<ion-header>
  <ion-toolbar>
    <ion-title>Profil</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="primary" (click)="presentPopover($event)">
        <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner
    color="primary"
    [class.loadingSpinner]="isLoading"
    [class.stopLoading]="!isLoading"
  ></ion-spinner>

  <div *ngIf="client != null">
    <div class="header">
      <h2>{{ client.firstName }} {{ client.lastName }}</h2>

      <div class="space-between">
        <div class="followings">
          <ion-badge color="primary" mode="ios"
            >{{ nbDeliveredOrders }}</ion-badge
          >
          <p>Courses effectuées</p>
        </div>

        <div class="followings">
          <ion-badge color="primary" mode="ios"
            >{{ nbFavoriteProducts }}</ion-badge
          >
          <p>Produits favoris</p>
        </div>
      </div>
    </div>

    <div *ngIf="!showForm">
      <div class="flex">
        <div class="border-blue">
          <div class="border-white">
            <div class="img-box">
              <img
                [src]="domSanitizer.bypassSecurityTrustUrl('data:image/jpg;base64,' +currentImage)"
                tappable
                (click)="openPreview('data:image/jpg;base64,' +currentImage)"
              />
            </div>
          </div>
        </div>
      </div>

      <ion-grid>
        <ion-row style="padding: 0px;">
          <ion-col style="text-align: center; padding: 0px;">
            <h6>Email: <strong>{{ client.email}}</strong></h6>
          </ion-col>
        </ion-row>
        <ion-row style="padding: 0px; padding: 0px;">
          <ion-col style="text-align: center; padding: 0px;">
            <h6>
              Adresse:
              <strong
                >{{ client.location.address }}, {{ client.location.city
                }}</strong
              >
            </h6>
          </ion-col>
        </ion-row>
        <ion-row style="padding: 0px; padding: 0px;">
          <ion-col style="text-align: center; padding: 0px;">
            <h6>Téléphone: <strong>{{ client.phone }}</strong></h6>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <form [formGroup]="formProfile" *ngIf="showForm">
      <div class="flex">
        <div class="border-blue">
          <div class="border-white">
            <div class="img-box">
              <img
                [src]="domSanitizer.bypassSecurityTrustUrl('data:image/jpg;base64,' +currentImage)"
                tappable
                (click)="presentActionSheet()"
              />
            </div>
          </div>
        </div>
      </div>

      <ion-grid class="input-grid">
        <ion-row>
          <ion-col>
            <div>
              <ion-item>
                <ion-label position="stacked" clear-on-edit="true"
                  >Nom</ion-label
                >
                <ion-input
                  type="text"
                  formControlName="lastName"
                  [readonly]="readOnly"
                ></ion-input>
              </ion-item>
              <span
                class="text-danger"
                *ngIf="formProfile.get('lastName').touched && formProfile.get('lastName').errors?.required"
                >Ce champs est requis !</span
              >
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-item>
                <ion-label position="stacked" clear-on-edit="true"
                  >Prénom</ion-label
                >
                <ion-input
                  type="text"
                  formControlName="firstName"
                  [readonly]="readOnly"
                ></ion-input>
              </ion-item>
              <span
                class="text-danger"
                *ngIf="formProfile.get('firstName').touched && formProfile.get('firstName').errors?.required"
                >Ce champs est requis !</span
              >
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <div>
              <ion-item>
                <ion-label position="stacked">Date de naissance</ion-label>
                <ion-datetime
                  formControlName="dateOfBirth"
                  displayFormat="DD/MM/YYYY"
                ></ion-datetime>
              </ion-item>
              <span
                class="text-danger"
                *ngIf="formProfile.get('dateOfBirth').touched && formProfile.get('dateOfBirth').errors?.required"
                >Ce champs est requis !</span
              >
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-item>
                <ion-label position="stacked">Télephone</ion-label>
                <ion-input
                  type="tel"
                  formControlName="phone"
                  [readonly]="readOnly"
                ></ion-input>
              </ion-item>
              <span
                class="text-danger"
                *ngIf="formProfile.get('phone').touched && formProfile.get('phone').errors?.required"
                >Ce champs est requis !</span
              >
              <span
                class="text-danger"
                *ngIf="formProfile.get('phone').touched && formProfile.get('phone').errors?.maxlength"
                >Doit contenir 8 chiffres !</span
              >
              <span
                class="text-danger"
                *ngIf="formProfile.get('phone').touched && formProfile.get('phone').errors?.minlength"
                >Doit contenir 8 chiffres !</span
              >
            </div>
          </ion-col>
          <!-- <ion-col>
          <div>
            <ion-item>
              <ion-label position="stacked" clear-on-edit="true"
                >Mot de passe</ion-label
              >
              <ion-input
                [type]="passwordType"
                value="Mehdi"
                [readonly]="readOnly"
              ></ion-input>
              <ion-icon
                [name]="iconType"
                slot="end"
                (click)="HidePassword()"
              ></ion-icon>
            </ion-item>
          </div>
        </ion-col> -->
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <div>
              <ion-item>
                <ion-label position="stacked">E-mail</ion-label>
                <ion-input
                  type="email"
                  formControlName="email"
                  [readonly]="readOnly"
                ></ion-input>
              </ion-item>
              <span
                class="text-danger"
                *ngIf="formProfile.get('email').touched && formProfile.get('email').errors?.required"
                >Ce champs est requis !</span
              >
              <span
                class="text-danger"
                *ngIf="formProfile.get('email').touched && formProfile.get('email').errors?.email"
                >Ce champs est requis !</span
              >
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-item>
                <ion-label position="stacked" clear-on-edit="true"
                  >Adresse</ion-label
                >
                <ion-input
                  type="text"
                  formControlName="address"
                  [readonly]="readOnly"
                >
                </ion-input>
                <ion-icon
                  button
                  (click)="onLocateClient()"
                  name="navigate-outline"
                  slot="end"
                ></ion-icon>
              </ion-item>
              <span
                class="text-danger"
                *ngIf="formProfile.get('address').touched && formProfile.get('address').errors?.required"
                >Ce champs est requis !</span
              >
            </div>
            <div>
              <ion-item>
                <ion-label position="stacked" clear-on-edit="true"
                  >Ville</ion-label
                >
                <ion-input
                  type="text"
                  formControlName="city"
                  [readonly]="readOnly"
                >
                </ion-input>
              </ion-item>
              <span
                class="text-danger"
                *ngIf="formProfile.get('city').touched && formProfile.get('city').errors?.required"
                >Ce champs est requis !</span
              >
            </div>
            <div>
              <ion-item>
                <ion-label position="stacked" clear-on-edit="true"
                  >Code Postal</ion-label
                >
                <ion-input
                  type="text"
                  formControlName="zipCode"
                  [readonly]="readOnly"
                >
                </ion-input>
              </ion-item>
              <span
                class="text-danger"
                *ngIf="formProfile.get('zipCode').touched && formProfile.get('zipCode').errors?.required"
                >Ce champs est requis !</span
              >
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-button
        expand="block"
        class="button"
        shape="round"
        [disabled]="ButtonDisabled || !formProfile.valid"
        (click)="onSubmit()"
      >
        Modifier
        <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
      </ion-button>
    </form>
  </div>
</ion-content>
