<ion-header>
  <ion-toolbar>
    <ion-title>Profil</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="primary" (click)="presentPopover($event)">
        <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner
    color="primary"
    [class.loadingSpinner]="isLoading"
    [class.stopLoading]="!isLoading"
  ></ion-spinner>

  <div *ngIf="client != null">
    <div class="header">
      <h2>{{ client.firstName }} {{ client.lastName }}</h2>

      <div class="space-between">
        <div class="followings">
          <ion-badge color="primary" mode="ios"
            >{{ nbDeliveredOrders }}</ion-badge
          >
          <p>Courses éffectués</p>
        </div>

        <div class="followings">
          <ion-badge color="primary" mode="ios"
            >{{ nbFavoriteProducts }}</ion-badge
          >
          <p>Produits favoris</p>
        </div>
      </div>
    </div>

    <div class="flex">
      <div class="border-blue">
        <div class="border-white">
          <div class="img-box">
            <img
              [src]="currentImage"
              tappable
              (click)="openPreview(currentImage)"
            />
          </div>
        </div>
      </div>
    </div>

    <ion-grid class="input-grid">
      <ion-row>
        <ion-col>
          <div>
            <ion-item>
              <ion-label position="stacked" clear-on-edit="true">Nom</ion-label>
              <ion-input
                type="text"
                value="{{client.lastName}}"
                [readonly]="readOnly"
              ></ion-input>
            </ion-item>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-item>
              <ion-label position="stacked" clear-on-edit="true"
                >Prénom</ion-label
              >
              <ion-input
                type="text"
                value="{{ client.firstName }}"
                [readonly]="readOnly"
              ></ion-input>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div>
            <ion-item>
              <ion-label position="stacked">Télephone</ion-label>
              <ion-input
                type="tel"
                value="{{client.phone}}"
                [readonly]="readOnly"
              ></ion-input>
            </ion-item>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-item>
              <ion-label position="stacked" clear-on-edit="true"
                >Mot de passe</ion-label
              >
              <ion-input
                [type]="passwordType"
                value="Mehdi"
                [readonly]="readOnly"
              ></ion-input>
              <ion-icon
                [name]="iconType"
                slot="end"
                (click)="HidePassword()"
              ></ion-icon>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <div>
            <ion-item>
              <ion-label position="stacked">E-mail</ion-label>
              <ion-input
                type="email"
                value="{{ client.email }}"
                [readonly]="readOnly"
              ></ion-input>
            </ion-item>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-item>
              <ion-label position="stacked" clear-on-edit="true"
                >Adresse</ion-label
              >
              <ion-input
                type="text"
                value="{{ client.location.address }}"
                [readonly]="readOnly"
              >
              </ion-input>
              <ion-icon name="navigate-outline" slot="end"></ion-icon>
            </ion-item>
          </div>
          <div>
            <ion-item>
              <ion-label position="stacked" clear-on-edit="true"
                >Ville</ion-label
              >
              <ion-input
                type="text"
                value="{{ client.location.city }}"
                [readonly]="readOnly"
              >
              </ion-input>
            </ion-item>
          </div>
          <div>
            <ion-item>
              <ion-label position="stacked" clear-on-edit="true"
                >Code Postal</ion-label
              >
              <ion-input
                type="text"
                value="{{ client.location.zipCode }}"
                [readonly]="readOnly"
              >
              </ion-input>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button
      expand="block"
      class="button"
      shape="round"
      [disabled]="ButtonDisabled"
      [routerLink]="['/inscription']"
    >
      Enregistrer
      <ion-icon name="save-outline" slot="end"></ion-icon>
    </ion-button>
  </div>
</ion-content>
