<ion-content >
  

    <div class="flex">
      <div class="border-blue">
        <div class="border-white">
          <div class="img-box">
            <img
              src="../../../assets/avatar.jpg"
              
            />
            
          </div>
        </div>
      </div>
    </div>

    <ion-grid class="input-grid">
      <ion-row>
        <ion-col>
          <div>
            <ion-item>
              <ion-label position="floating" required="true" style="font-size: initial;">*Nom</ion-label>
              <ion-input
                type="text"
              ></ion-input>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col>
          <div>
            <ion-item>
              <ion-label position="floating" clear-on-edit="true"
                >*Prénom</ion-label
              >
              <ion-input
                type="text"
               
              ></ion-input>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div>
            <ion-item>
              <ion-label position="floating">*Télephone</ion-label>
              <ion-input
                type="tel"
              ></ion-input>
            </ion-item>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-item>
              <ion-label position="floating" clear-on-edit="true"
                >*Mot de passe</ion-label
              >
              <ion-input
                [type]="passwordType"
               
              ></ion-input>
              <ion-icon
                [name]="iconType"
                slot="end"
                (click)="HidePassword()"
              ></ion-icon>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <div>
            <ion-item>
              <ion-label position="floating">*E-mail</ion-label>
              <ion-input
                type="email"
               
              ></ion-input>
            </ion-item>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-item>
              <ion-label position="floating" clear-on-edit="true"
                >*Adresse</ion-label
              >
              <ion-input
                type="text"
              >
              </ion-input>
            </ion-item>
          </div>
          <div>
            <ion-item>
              <ion-label position="floating" clear-on-edit="true"
                >*Ville</ion-label
              >
              <ion-input
                type="text"
              
              >
              </ion-input>
            </ion-item>
          </div>
          <div>
            <ion-item>
              <ion-label position="floating" clear-on-edit="true"
                >*Code Postal</ion-label
              >
              <ion-input
                type="tel"
              >
              </ion-input>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>



</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button
      expand="block"
      class="button"
      shape="round"
      routerLink="/login"
    >
    Isncription
    </ion-button>
  </ion-toolbar>
</ion-footer>


