.header {
    background-color: cornflowerblue;
    height: 150px;
    padding-top: 1px;
    text-align: center;
  
  }

.border-white {
  border: 4px solid whitesmoke;
  border-radius: 50%;
  width: fit-content;
}

 .border-blue {
  border: 5px solid cornflowerblue;
  border-radius: 50%;
  width: fit-content;
}

.flex {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.img-box {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  overflow: hidden;
}
  

.inscri{
  padding-left: 40px;
  padding-right: 40px;
  text-transform: none;
}

.line-input {
  margin-bottom: 0!important;
  ion-item {
      --border-color: transparent!important;
      --highlight-height: 0;
      border: 1px solid #dedede;
      border-radius: 4px;
      &.item-has-focus {
          border: 1px solid var(--ion-color-primary);
      }
      ion-label {
          color: #807e7e!important;
          font-weight: 300;
          font-size: 1rem!important;
      }
  }
}

.background-input {
  margin-bottom: 0!important;
  ion-item {
      --border-color: transparent!important;
      --highlight-height: 0;
      --background: none;
      background: rgba(var(--ion-color-primary-rgb), 0.06);
      border-radius: 4px;
      ion-label {
          color: #777!important;
          font-weight: 300;
          font-size: 1rem!important;
      }
      ion-input {
          --color: rgb(20, 19, 19);
      }
  }
}