.container {
  margin: 10px;
}

.emailItem {
  margin-top: 30px;
}

.btForgotPassword {
  text-transform: none;
}

.divButton {
  margin-top: 20px;
  text-align: center;
}

.text-danger {
  color: #d9534f;
}
