<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>

      <ion-title>Mot de passe oublié</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formModel">
    <div class="container">
      <p>Vous avez oublié votre mot de passe ?</p>
      <span>Entrez votre E-mail pour avoir les instructions à suivre.</span>
      <ion-item class="emailItem">
        <ion-icon slot="start" name="mail-outline"></ion-icon>
        <ion-input
          formControlName="email"
          placeholder="Entrez votre Email..."
        ></ion-input>
      </ion-item>
      <span
        class="text-danger"
        *ngIf="formModel.get('email').touched && formModel.get('email').errors?.required"
        >Ce champs est requis !</span
      >
      <span
        class="text-danger"
        *ngIf="formModel.get('email').touched && formModel.get('email').errors?.email"
        >Email incorrect !</span
      >

      <div class="divButton">
        <ion-button
          [disabled]="!formModel.valid || submittingForm"
          size="medium"
          class="btForgotPassword"
          (click)="onSubmit()"
          >Envoyer</ion-button
        >
      </div>

      <div style="text-align: center; margin-top: 10px;" *ngIf="emailSent">
        <span style="color: #5cb85c;"
          >Un email contenant les instructions à suivre a été envoyé !</span
        >
      </div>
    </div>
  </form>
</ion-content>
