.login-header{
    background: var(--theme-color);
    position: relative;
    border-radius: 0em;
}

.login-header::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 15%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: var(--theme-color);
    border-bottom: 0;
    margin-left: -15px;
    margin-bottom: -15px;

}

.logo-img{
    display: block;
    width: 120px;
    margin: 0 auto;
    text-align: center ;
}

[heading-column-lr]{
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
[big-heading]{
    font-family: "Heebo-Bold" !important;
    font-size: 30px !important;
    color: var(--theme-black);
}
[small-heading]{
    font-family: "Heebo-Regular" !important;
    margin-left: auto; 
    padding-right: 40px;
    font-size: 15px;
}

