<ion-header no-border>
  <div class="login-header ion-padding">
    <img class="logo-img" src="../../assets/logos/logoWhite.png" />
  </div>
</ion-header>

<ion-content>
  <div class="center">
    <form [formGroup]="formLogin" autocomplete="off">
      <div heading-column-lr>
        <h1 big-heading>Connexion</h1>
      </div>
      <ion-label
        >Commencez à faire vos courses dès maintenant avec DeliveryTN !
      </ion-label>

      <ion-item transparent>
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-input
          type="email"
          placeholder="E-Mail"
          name="email"
          formControlName="email"
          required
        ></ion-input>
      </ion-item>
      <ion-item transparent>
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input
          type="password"
          placeholder="Mot de passe"
          name="password"
          formControlName="password"
          required
        ></ion-input>
      </ion-item>
      <ion-label class="forget-password"
        ><strong>Mot de passe oublié ?</strong></ion-label
      >
      <div linespace></div>
      <div style="text-align: center;" *ngIf="authenticationFailed != '' ">
        <span style="color: #d9534f;">{{ authenticationFailed }}</span>
      </div>
      <ion-button
        style="text-transform: none;"
        class="ion-button-class btLogin"
        shape="round"
        fill="solid"
        size="medium"
        expand="block"
        (click)="onSubmit()"
        [disabled]="!formLogin.valid"
      >
        Connexion
      </ion-button>

      <ion-label class="ion-text-center"
        >Vous n'avez pas de compte ?
        <span class="link-button"><strong>Inscrivez-vous</strong></span>
      </ion-label>
    </form>
  </div>
</ion-content>
