<ion-header no-border>
  <div class="login-header ion-padding">
    <img class="logo-img" src="../../assets/header_icon.png" >
  </div>
</ion-header>

<ion-content>


  <div class="center">

    <div heading-column-lr>
      <h1 big-heading>Login</h1>
      <h2 small-heading>SIGN UP</h2>
    </div>
    <ion-label>Lorem ipsum dolor sit amet consectetur 
      adipisicing elit.
     </ion-label>

     <ion-item transparent>
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-input type="email" placeholder="E-Mail"></ion-input>  
      </ion-item>
      <ion-item transparent>
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input type="password" placeholder="Mot de passe"></ion-input>  
        </ion-item>
      <ion-label class="forget-password"><strong>Mot de passe oublié ?</strong></ion-label>

      <div linespace></div>
      <ion-button style="text-transform: none;" color="warning" class="ion-button-class"  shape="round" fill="solid" size="large" expand="block" >
        Connexion
      </ion-button>
      <ion-label class="ion-text-center">Vous n'êtes pas encore inscrit?
        <span class="link-button"><strong>Inscrivez-vous</strong></span>
      </ion-label>

  </div>

</ion-content>