<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Catégories
    </ion-title>
    <ion-buttons slot="end">
      <ion-button
        fill="clear"
        style="--color: rgb(117, 39, 46);"
        routerLink="/cart"
      >
        <ion-icon name="cart-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar
    [(ngModel)]="searchTerm"
    (ionChange)="searchCategory()"
    placeholder="Rechercher catégorie..."
  ></ion-searchbar>
  <ion-spinner
    color="primary"
    [class.loadingSpinner]="isLoading"
    [class.stopLoading]="!isLoading"
  ></ion-spinner>

  <ion-card
    *ngFor="let category of allCategories"
    [routerLink]="[ '/products-by-category', category.id ]"
  >
    <img
      [src]="domSanitizer.bypassSecurityTrustUrl('data:image/jpg;base64,' +category.imageBase64)"
    />
    <ion-card-header>
      <ion-card-title>{{category.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{category.description}}
    </ion-card-content>
  </ion-card>
</ion-content>
