<!-- <ion-header> </ion-header> -->

<ion-content>
  <ion-spinner
    style="margin-top: 20px;"
    color="primary"
    [class.loadingSpinner]="isLoading"
    [class.stopLoading]="!isLoading"
  ></ion-spinner>
  <div class="overviewDiv" *ngIf="deliveryInfos != null && client != null">
    <ion-button (click)="onGoBack()" fill="clear" class="btReturn">
      <ion-icon
        style="margin-right: 10px;"
        name="arrow-back-outline"
      ></ion-icon>
      Suivi commande
    </ion-button>
    <ion-grid class="overviewGrid">
      <ion-row style="text-align: center; font-size: small; color: #ededed;">
        <ion-col>
          <span>Heure estimée</span>
        </ion-col>
        <ion-col *ngIf="deliveryInfos.orderStatus != 1">
          <span>Distance</span>
        </ion-col>
      </ion-row>
      <ion-row style="text-align: center; font-size: 25px;">
        <ion-col>
          <span>{{ deliveryInfos.estimatedDeliveryTime | date:"HH:mm" }}</span>
        </ion-col>
        <ion-col *ngIf="deliveryInfos.orderStatus != 1">
          <span>{{ distance | number:"1.2-2" }}</span>
          <span style="font-size: 12px !important;"> Km</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="timeline" *ngIf="deliveryInfos != null && client != null">
    <div class="container right">
      <div class="content">
        <span style="font-weight: bold;">Commande passée</span>
        <br />
        <div
          style="
            text-align: end;
            font-style: italic;
            color: grey;
            font-size: 14px;
          "
        >
          <span>{{ deliveryInfos.orderTime | date:"HH:mm" }}</span>
        </div>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <span style="font-weight: bold;">Commande acceptée</span>
        <div class="deliveryManDiv">
          <ion-grid class="noPadding">
            <ion-row>
              <ion-col size="4" class="noPadding" style="text-align: center;">
                <img
                  class="circleImg"
                  [src]="
                domSanitizer.bypassSecurityTrustUrl(
                  'data:image/base64;jpg,' + deliveryMan.imageBase64
                )
              "
                  alt=""
                />
              </ion-col>
              <ion-col size="8" class="ion-align-self-center noPadding">
                <span style="font-size: 12px; color: grey;"
                  >{{ deliveryInfos.deliveryMan.firstName }} a accepté la
                  commande</span
                >
              </ion-col>
            </ion-row>
            <ion-row *ngIf="deliveryInfos.orderStatus != 3">
              <ion-col>
                <ion-button
                  color="success"
                  class="btCall"
                  size="small"
                  fill="outline"
                  (click)="presentPopoverContactDeliveryMan($event)"
                >
                  <ion-icon name="call" slot="start"></ion-icon>
                  Contacter
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
          <div
            style="
              text-align: end;
              font-style: italic;
              color: grey;
              font-size: 14px;
            "
          >
            <span
              >{{ deliveryInfos.acceptingDeliveryTime | date:"HH:mm" }}</span
            >
          </div>
        </div>
      </div>
    </div>

    <!-- If the order is still processing or being delivered, then display the address container
       as if it is disabled -->
    <!-- With a red cercle in the timeline -->
    <div
      class="container containerAddress right"
      *ngIf="deliveryInfos.orderStatus != 3"
    >
      <div class="content">
        <span style="font-weight: bold; color: #bababa;">Commande livrée</span>
        <br />
        <div class="divAddress">
          <span class="textAddress" style="color: #bababa;"
            >{{ client.location.address}}, {{ client.location.city}}</span
          >
        </div>
      </div>
    </div>

    <!-- If the order is delivered then display the address container normally -->
    <!-- With a green cercle in the timeline -->
    <div class="container right" *ngIf="deliveryInfos.orderStatus == 3">
      <div class="content">
        <span style="font-weight: bold;">Commande livrée</span>
        <br />
        <div class="divAddress">
          <span class="textAddress"
            >{{ client.location.address}}, {{ client.location.city}}</span
          >
        </div>
        <div
          style="
            text-align: end;
            font-style: italic;
            color: grey;
            font-size: 14px;
          "
        >
          <span>{{ deliveryInfos.realDeliveryTime | date:"HH:mm" }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="bottomDiv">
    <ion-button
      color="success"
      class="btTrackMap"
      expand="full"
      *ngIf="deliveryInfos != null && client != null && deliveryInfos.orderStatus != 1 && deliveryInfos.orderStatus != 3"
      [routerLink]="['/track-delivery-map']"
      [disabled]="deliveryInfos.orderStatus == 1"
    >
      <ion-icon slot="start" name="navigate-outline"></ion-icon>
      Suivre sur la carte</ion-button
    >
  </div>
</ion-content>
