<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Accueil
    </ion-title>
    <ion-buttons slot="end">
      <ion-button
        fill="clear"
        style="--color: rgb(117, 39, 46);"
        routerLink="/cart"
      >
        <ion-icon name="cart-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="10">
      <ion-searchbar
        [(ngModel)]="searchTerm"
        placeholder="Recherche"
        (ionChange)="searchProduct()"
      ></ion-searchbar>
    </ion-col>
    <ion-col size="2" class="ion-align-self-center">
      <ion-icon
        style="font-size: 28px;"
        color="primary"
        button
        name="options-outline"
        (click)="presentPopoverOrderBy()"
      ></ion-icon>
    </ion-col>
  </ion-row>

  <ion-card *ngFor="let product of allProducts">
    <ion-grid>
      <ion-row>
        <ion-col size="1">
          <ion-icon
            style="font-size: 23px;"
            button
            color="danger"
            name="heart-outline"
          ></ion-icon>
        </ion-col>
        <ion-col size="6" class="ion-float-left">
          <div>
            <img
              height="120"
              [src]="domSanitizer.bypassSecurityTrustUrl('data:image/jpg;base64,' +product.imageBase64)"
              alt="Image Produit"
            />
          </div>
        </ion-col>
        <ion-col size="5" class="ion-float-right">
          <ion-grid>
            <ion-row>
              <ion-col>
                <strong>{{ product.name }}</strong>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-end">
              <ion-col style="text-align: end;">
                <span><strong>{{ product.price }}</strong> DT</span>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-end">
              <ion-col style="text-align: end;">
                <span class="textPriceUnit"
                  >{{ product.price }} DT / Pièce</span
                >
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-end">
              <ion-col size="6" style="margin-right: 5px;">
                <ion-button
                  fill="outline"
                  size="small"
                  (click)="presentPopoverAmount(product.id)"
                >
                  <ion-icon name="basket-outline" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
