ion-content ion-toolbar {
  --background: translucent;
}

.textPriceUnit {
  font-size: 12px;
}

.loadingSpinner {
  display: block;
}

.stopLoading {
  display: none;
}

ion-spinner {
  display: block;
  margin: auto;
}
