ion-content ion-toolbar {
  --background: translucent;
}

.imgCircle {
  border-radius: 50%;
}

.noPadding {
  padding: 0px;
}

.loadingSpinner {
  display: block;
}

.stopLoading {
  display: none;
}

ion-spinner {
  display: block;
  margin: auto;
}
