<ion-grid>
  <ion-row class="ion-justify-content-start">
    <ion-col>
      <span>Voulez-vous recevoir une facture avec votre commande ?</span>
    </ion-col>
  </ion-row>
  <br />
  <ion-row class="ion-justify-content-end">
    <ion-col size="8" style="text-align: end;">
      <span
        style="color: #75272e; font-weight: bold; font-size: 14px;"
        color="danger"
        (click)="onYes()"
        >Oui</span
      >
    </ion-col>
    <ion-col size="4" style="text-align: end;">
      <span
        style="color: #75272e; font-weight: bold; font-size: 14px;"
        color="danger"
        (click)="onNo()"
        >Non</span
      >
    </ion-col>
  </ion-row>
</ion-grid>
