<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="font-size: 14px;">Commande 21/04/2020 16:30</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner
    color="primary"
    [class.loadingSpinner]="isLoading"
    [class.stopLoading]="!isLoading"
  ></ion-spinner>

  <div *ngIf="order != null">
    <ion-row *ngIf="order.orderStatus == 0">
      <ion-col size="12" style="text-align: center;">
        <span><strong>Statut: </strong></span>
        <span style="font-style: italic;">En attente</span>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="order.orderStatus == 1">
      <ion-col size="12" style="text-align: center;">
        <span><strong>Statut: </strong></span>
        <span style="font-style: italic;">En cours de traitement</span>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="order.orderStatus == 2">
      <ion-col size="12" style="text-align: center;">
        <span><strong>Statut: </strong></span>
        <span style="font-style: italic;">En cours de livraison</span>
      </ion-col>
    </ion-row>
    <ion-item-divider>
      <ion-label class="dividerLabels">
        <strong><span>Produits</span></strong>
      </ion-label>
    </ion-item-divider>
    <div *ngFor="let product of order.products">
      <ion-grid>
        <ion-row class="ion-float-left">
          <ion-col size="4">
            <img
              [src]="domSanitizer.bypassSecurityTrustUrl('data:image/jpg;base64,'+product.imageBase64)"
              alt="Img"
            />
          </ion-col>
          <ion-col size="8">
            <ion-grid class="noPadding">
              <ion-row>
                <ion-col class="noPadding"
                  ><span style="font-size: 12px;"
                    >{{product.name}}</span
                  ></ion-col
                >
              </ion-row>
              <ion-row class="ion-align-items-center">
                <ion-col size="12" class="noPadding">
                  <span>x{{ product.amount }}</span>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div style="margin-top: 10px;">
      <ion-item-divider>
        <ion-label class="dividerLabels">
          <strong><span>Informations Livraison</span></strong>
        </ion-label>
      </ion-item-divider>
      <div>
        <ion-grid>
          <ion-row *ngIf="order.orderStatus == 1 || order.orderStatus == 2">
            <ion-col size="5">
              <span class="textInfos"><strong>Heure estimée</strong> </span>
            </ion-col>
            <ion-col size="7" style="text-align: end;">
              <span>
                {{ order.estimatedDeliveryTime | date:"dd/MM HH:mm"}}</span
              >
            </ion-col>
          </ion-row>
          <ion-row *ngIf="order.orderStatus == 3">
            <ion-col size="5">
              <span class="textInfos"><strong>Date</strong> </span>
            </ion-col>
            <ion-col size="7" style="text-align: end;">
              <span> {{ order.realDeliveryTime | date:"dd/MM HH:mm"}}</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              <span class="textInfos"><strong>Prix</strong> </span>
            </ion-col>
            <ion-col size="9" style="text-align: end;">
              <span class="textInfos">{{ order.deliveryPrice }} DT</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-button
                *ngIf="order.orderStatus != 3"
                class="btTrack"
                expand="block"
                [routerLink]="['/track-delivery', order.orderId]"
                [disabled]="order.orderStatus == 0"
              >
                Suivre
              </ion-button>
              <ion-button
                *ngIf="order.orderStatus == 3"
                class="btTrack"
                expand="block"
                [routerLink]="['/track-delivery', order.orderId]"
              >
                Chronologie
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="order.orderStatus == 0">
            <ion-col style="text-align: center;">
              <span style="color: #d9534f; font-size: 14px; font-style: italic;"
                >Votre commande n'a pas encore été acceptée.</span
              >
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
    <div>
      <ion-item-divider>
        <ion-label class="dividerLabels">
          <strong><span>Prix Commande</span></strong>
        </ion-label>
      </ion-item-divider>
      <div>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <span class="priceTitles">Prix Article(s)</span>
            </ion-col>
            <ion-col size="6" style="text-align: right;">
              <span class="priceTitles">{{ order.orderPrice }} DT</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <span class="priceTitles">Prix Livraison</span>
            </ion-col>
            <ion-col size="6" style="text-align: right;">
              <span class="priceTitles">{{ order.deliveryPrice }} DT</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <span class="dividerLabels">Total</span>
            </ion-col>
            <ion-col size="6" style="text-align: right;">
              <span class="dividerLabels" style="font-size: large;"
                ><strong
                  >{{ order.orderPrice + order.deliveryPrice }} DT</strong
                ></span
              >
            </ion-col>
          </ion-row>
          <!-- <ion-row>
            <ion-col size="6">
              <span><strong>Total</strong></span>
            </ion-col>
            <ion-col size="6" style="text-align: right;">
              <span class="dividerLabels" style="font-size: large;"
                ><strong>{{ order.orderPrice }} DT</strong></span
              >
            </ion-col>
          </ion-row> -->
        </ion-grid>
      </div>
    </div>
    <div style="margin-top: 10px;" *ngIf="order.orderStatus != 0">
      <ion-item-divider>
        <ion-label class="dividerLabels">
          <strong><span>Livreur</span></strong>
        </ion-label>
      </ion-item-divider>
      <div>
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="2">
              <img
                [src]="
              domSanitizer.bypassSecurityTrustUrl(
                'data:image/base64;jpg,' + deliveryMan.imageBase64
              )
            "
                alt="Img Livreur"
                height="35"
                width="35"
                class="imgCircle"
                (click)="presentPopoverDeliveryManProfile(order.deliveryManId)"
              />
            </ion-col>
            <ion-col size="5">
              <span
                style="font-size: 14px;"
                (click)="presentPopoverDeliveryManProfile(order.deliveryManId)"
                >{{ order.deliveryManName }}</span
              >
            </ion-col>
            <ion-col size="5" style="text-align: end;">
              <ion-button
                *ngIf="order.deliveryManClientRating == 0"
                fill="outline"
                class="btRate"
                (click)="presentPopoverRating(order.deliveryManClientRating)"
              >
                <ion-icon name="star-outline" slot="start"></ion-icon>
                Noter
              </ion-button>
              <ion-button
                *ngIf="order.deliveryManClientRating != 0"
                fill="outline"
                class="btRate"
                (click)="presentPopoverRating(order.deliveryManClientRating)"
              >
                <ion-icon name="star-outline" slot="start"></ion-icon>
                Changer
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>
