<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Panier</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="danger">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin-top: 10px;" *ngFor="let category of cartCategories">
    <ion-item-divider>
      <ion-label class="dividerLabels">
        <strong>{{ category.name }}</strong>
      </ion-label>
    </ion-item-divider>
    <div *ngFor="let product of cartProducts">
      <ion-grid *ngIf="product.category == category.name">
        <ion-row class="ion-float-left">
          <ion-col size="5">
            <img
              [src]="domSanitizer.bypassSecurityTrustUrl('data:image/jpg;base64,'+product.imageBase64)"
              alt="Img"
            />
          </ion-col>
          <ion-col size="6">
            <ion-grid class="noPadding">
              <ion-row>
                <ion-col class="noPadding"
                  ><span style="font-size: 12px;"
                    >{{product.name}}</span
                  ></ion-col
                >
              </ion-row>
              <ion-row>
                <ion-col class="noPadding"
                  ><span style="font-size: 12px;"
                    ><strong>{{product.totalProductPrice}}</strong> DT</span
                  ></ion-col
                >
              </ion-row>
              <ion-row class="ion-align-items-center">
                <ion-col size="2" class="noPadding">
                  <ion-icon
                    color="danger"
                    button
                    name="remove-outline"
                  ></ion-icon>
                </ion-col>
                <ion-col size="3" class="noPadding">
                  <ion-input
                    class="noPadding"
                    style="font-size: smaller; font-weight: bold;"
                    value="{{product.amount}}"
                  ></ion-input>
                </ion-col>
                <ion-col size="1">
                  <ion-icon
                    color="primary"
                    button
                    name="add-outline"
                  ></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
          <ion-col size="1">
            <ion-icon
              color="danger"
              button
              name="remove-circle-outline"
              (click)="presentPopoverConfirmDelete(product.id)"
            ></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <div style="margin-top: 10px;">
    <ion-item-divider>
      <ion-label class="dividerLabels">
        <strong>Adresse de livraison</strong>
      </ion-label>
    </ion-item-divider>
    <div>
      <ion-grid>
        <ion-row class="ion-float-left">
          <ion-col size="12">
            <ion-grid class="noPadding">
              <ion-row>
                <ion-col class="noPadding" size="12">
                  <span class="textInfos">{{clientAddress}}</span>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="noPadding" size="12">
                  <span class="textInfos"
                    >{{clientCity}}, {{clientZipCode}}</span
                  >
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12" class="noPadding"
                  ><ion-button
                    class="btChangeLocation"
                    size="small"
                    fill="clear"
                    >Changer
                    <ion-icon
                      slot="end"
                      name="create-outline"
                    ></ion-icon> </ion-button
                ></ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <div>
    <ion-item-divider>
      <ion-label class="dividerLabels">
        <strong>Prix</strong>
      </ion-label>
    </ion-item-divider>
    <div>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <span class="priceTitles">Prix Article(s)</span>
          </ion-col>
          <ion-col size="6" style="text-align: right;">
            <span class="priceTitles">30 DT</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <span class="priceTitles">Prix Livraison</span>
          </ion-col>
          <ion-col size="6" style="text-align: right;">
            <span class="priceTitles">5 DT</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <span class="dividerLabels">Total</span>
          </ion-col>
          <ion-col size="6" style="text-align: right;">
            <span class="dividerLabels" style="font-size: large;"
              ><strong>35 DT</strong></span
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <ion-button class="btOrder" expand="block">Commander</ion-button>
</ion-content>
