<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Panier</ion-title>
    <ion-buttons slot="end">
      <ion-button
        fill="clear"
        color="danger"
        *ngIf="cartProducts.length != 0;"
        (click)="presentPopoverConfirmEmptyCart()"
      >
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="cartProducts.length != 0; else emptyCart">
  <div style="margin-top: 10px;" *ngFor="let category of cartCategories">
    <ion-item-divider>
      <ion-label class="dividerLabels">
        <strong><span>{{ category.name }}</span></strong>
      </ion-label>
    </ion-item-divider>
    <div *ngFor="let product of cartProducts">
      <ion-grid *ngIf="product.category == category.name">
        <ion-row class="ion-float-left">
          <ion-col size="5">
            <img
              [src]="domSanitizer.bypassSecurityTrustUrl('data:image/jpg;base64,'+product.imageBase64)"
              alt="Img"
            />
          </ion-col>
          <ion-col size="6">
            <ion-grid class="noPadding">
              <ion-row>
                <ion-col class="noPadding"
                  ><span style="font-size: 12px;"
                    >{{product.name}}</span
                  ></ion-col
                >
              </ion-row>
              <ion-row>
                <ion-col class="noPadding"
                  ><span style="font-size: 12px;"
                    ><strong>{{product.totalProductPrice}}</strong> DT</span
                  ></ion-col
                >
              </ion-row>
              <ion-row class="ion-align-items-center">
                <ion-col size="2" class="noPadding">
                  <ion-icon
                    color="danger"
                    button
                    name="remove-outline"
                  ></ion-icon>
                </ion-col>
                <ion-col size="3" class="noPadding">
                  <ion-input
                    class="noPadding"
                    style="font-size: smaller; font-weight: bold;"
                    value="{{product.amount}}"
                  ></ion-input>
                </ion-col>
                <ion-col size="1">
                  <ion-icon
                    color="primary"
                    button
                    name="add-outline"
                  ></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
          <ion-col size="1">
            <ion-icon
              color="danger"
              button
              name="remove-circle-outline"
              (click)="presentPopoverConfirmDelete(product)"
            ></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <div style="margin-top: 10px;">
    <ion-item-divider>
      <ion-label class="dividerLabels">
        <strong><span>Adresse de livraison</span></strong>
      </ion-label>
    </ion-item-divider>
    <div>
      <ion-grid>
        <ion-row class="ion-float-left">
          <ion-col size="12">
            <ion-grid class="noPadding">
              <ion-row>
                <ion-col class="noPadding" size="12">
                  <span class="textInfos">{{clientAddress}}</span>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="noPadding" size="12">
                  <span class="textInfos"
                    >{{clientCity}}, {{clientZipCode}}</span
                  >
                </ion-col>
              </ion-row>

              <!-- Let the client choose another delivery address -->
              <!-- This task will be done later -->

              <ion-row>
                <ion-col size="12" class="noPadding"
                  ><ion-button
                    class="btChangeLocation"
                    size="small"
                    fill="clear"
                    (click)="presentPopoverEditAddress()"
                    >Changer
                    <ion-icon
                      slot="end"
                      name="create-outline"
                    ></ion-icon> </ion-button
                ></ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <div>
    <ion-item-divider>
      <ion-label class="dividerLabels">
        <strong><span>Prix</span></strong>
      </ion-label>
    </ion-item-divider>
    <div>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <span class="priceTitles">Prix Article(s)</span>
          </ion-col>
          <ion-col size="6" style="text-align: right;">
            <span class="priceTitles">{{ productsPrice }} DT</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <span class="priceTitles">Prix Livraison</span>
          </ion-col>
          <ion-col size="6" style="text-align: right;">
            <span class="priceTitles">{{ deliveryPrice }} DT</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <span class="dividerLabels">Total</span>
          </ion-col>
          <ion-col size="6" style="text-align: right;">
            <span class="dividerLabels" style="font-size: large;"
              ><strong>{{ totalPrice }} DT</strong></span
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <div *ngIf="!orderIsPending;else divPendingOrder">
    <ion-button
      [class.orderIsPending]="!orderIsPending"
      class="btOrder"
      expand="block"
      (click)="makeOrder()"
      >Commander</ion-button
    >
  </div>
  <ng-template #divPendingOrder>
    <ion-row>
      <ion-col size="12" style="text-align: center;">
        <span style="font-style: italic;"
          >Votre commande est en cours de traitement</span
        >
      </ion-col>
    </ion-row>
  </ng-template>
</ion-content>

<ng-template #emptyCart>
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size="12" style="text-align: center; margin-top: 40%;">
          <img
            width="100"
            height="100"
            src="../../assets/logos/empty-transparent.png"
            alt="EmptyList"
          />
          <br />
          <span style="color: #b6b6b6; font-style: italic;"
            >Votre panier est encore vide !</span
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ng-template>
